[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel
[submodule "content"]
	path = content
	url = https://github.com/macschlingel/SlowCarber-Content.git
[submodule "git-commit-and-push-content"]
	path = site/plugins/git-commit-and-push-content
	url = https://github.com/Pascalmh/kirby-git-commit-and-push-content.git
